<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>University Registrar</title>
  </head>
  <body>
    <h1>Add a new student</h1>
    <form action="/students" method="post">
      <label for="student-name">Student Name:</label>
      <input id="student-name" name="student-name" type="text">
      <label for="student-date">Student Date:</label>
      <input id="student-date" name="student-date" type="text">
      <button type="submit">Add new student</button>
    </form>
    <p><a href="/">Back home</a></p>
    <p><a href="/students">View all students</a></p>
  </body>
</html>
