<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>University Registrar</title>
  </head>
  <body>
    <h1>University Registrar Students</h1>
    <ul>
      @foreach (var student in Model)
      {
        <li><a href='/students/@student.GetId()'>@student.GetName()</a></li>
      }
    </ul>
    <button type="button" name="button">Add Student</button>
  </body>
</html>
