<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>University Registrar</title>
  </head>
  <body>
    <h1>Add a new course</h1>
    <form action="/courses" method="post">
      <label for="course-name">Course Name:</label>
      <input id="course-name" name="course-name" type="text">
      <label for="course-num">Course Num:</label>
      <input id="course-num" name="course-num" type="text">
      <button type="submit">Add new course</button>
    </form>
    <p><a href="/">Back home</a></p>
    <p><a href="/courses">View all courses</a></p>
  </body>
</html>
